html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.movieSection{
    margin: 15px;
    padding: 0 auto;
}

#info{
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;

}

#movieTitleInput{
    width: 30%;
}